# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Django
# =========================
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
data/

# =========================
# Static files (collectstatic)
# =========================
staticfiles/

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# Cache
# =========================
.cache/
*.cache
*.sass-cache

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Git
# =========================
.git/

# =========================
# Docker (opcional)
# =========================
docker-compose.override.yml

# =========================
# Build / dist
# =========================
build/
dist/
*.egg-info/