# Ambiente virtual
env/
.env
.env/
venv/
.venv/

# Python
__pycache__
__pycache__/
*.pyc

# Django
db.sqlite3

# VS Code
.vscode/

/app/static/
/app/media/
/app/mysite/settings.py
gunicorn-error-log
__localcode
/data/